.Applications {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

span {
  letter-spacing: 2px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  color: rgba(71, 71, 71, 0.582);
}

.center {
  text-align: center;
}

.plusbutt {
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
  opacity: 1;
  transition: 0.3s;
  color: rgba(71, 71, 71, 0.582);
  font-size: 16px;
}

.plusbutt:hover {
  color: rgba(33, 66, 109, 0.836)
}