.Job { 
  box-shadow: 0 3px 3px #a7a7a7;
  border: 1px solid rgba(201, 201, 201, 0.542);
  display: grid;
  grid-template-rows: auto;
  padding: 5px;
  margin: 10px;
  border-radius: 12px;
  color: rgb(71, 71, 71);
  text-align: left;
  background-color: rgba(255, 255, 255, 0.542);
}

.title {
  font-size: 20px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 50% 50%;
}

.delete {
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
  opacity: 1;
  transition: 0.3s;
  color: rgba(71, 71, 71, 0.582);
  font-size: 16px;
  text-align: right;
}

.prog {
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
  opacity: 1;
  transition: 0.3s;
  color: rgba(71, 71, 71, 0.582);
  font-size: 20px;
  text-align: right;
}

.url {
  display: grid;
  grid-template-columns: 40% 60%;
}

.offer {
  width: 120px;
  cursor: pointer;
  background-color: rgba(75, 160, 107, 0.678);
  outline: none;
  opacity: 1;
  transition: 0.3s;
  color: rgba(71, 71, 71, 0.582);
  font-size: 15px;
  text-align: center;
  border-radius: 2px;
}

.rejection {
  width: 120px;
  cursor: pointer;
  background-color: rgba(228, 72, 72, 0.719);
  outline: none;
  opacity: 1;
  transition: 0.3s;
  color: rgba(71, 71, 71, 0.582);
  font-size: 15px;
  text-align: center;
  border-radius: 2px;
}