.Navbar{
  position: fixed;
  height: 100%;
  background: rgb(58, 129, 209);
  box-shadow: 2px 2px 2px 2px #dad4d4;
}

.container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}